<%-include("../../partials/header");%>

<div class="container-fluid mt--6">




    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-3 header-title">Withdrawal Details</h4>
        
                    <form id="withdraw">
                        
                        <div class="form-group">
                            <label for="accountme">Withdraw From</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option><%=user.plan_name || 'VIP 0'%> (<%=user.account_no%>) - <%=user.balance.toLocaleString()%> USDT</option>
                                
                            </select>
                        </div>
        
                        
        
                        <div class="form-group">
                            <label for="pin">Withdrawal PIN</label>
                            <input type="text" placeholder="Withdrawal Pin" class="form-control" id="pin" required>
                        </div>
        
                        
        
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-3 header-title">Reciever Details</h4>
        
                    
        
                        <div class="form-group">
                            <label for="amount">Amount</label>
                            <input type="text" value="0" class="form-control" id="amount" required>
                        </div>
        
                        
                        
                        <div class="form-group">
                            <label for="account">Reciever USDT Address</label>
                            <input readonly disabled type="text" class="form-control" value="<%=user.wallet_address%> - <%=user.wallet_type%>" required>
                        </div>
        
                        
                        <div class="form-group">
                            <label for="amount">Charges Fee</label>
                            <input readonly disabled type="text" value="0" class="form-control" id="fees">
                        </div>
                        
        
                        <input hidden disabled type="text" class="form-control" value="<%=user.wallet_address%>" id="account">

                        <button type="submit" id="submit" class="btn btn-primary waves-effect waves-light">Initialize Withdrawal</button>
                    </form>
        
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div>


    </div>




    <div class="modal fade" id="tips" tabindex="-1" aria-labelledby="exampleModalScrollableTitle" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle"><i class="bi bi-megaphone"></i> Tips</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    Ensure that you have access to your wallet address before initializing withdrawal. <br>
                    USDTPOOL Plc is not liable for any loss of fund due to network incompatibility.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="d-flex">Close</span>
                    </button>
                    <button id="closenotice" type="button" class="btn btn-primary ml-1" data-dismiss="modal">
                        <span class="d-flex">Okay</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <button id="tipsBtn" data-toggle="modal" data-target="#tips" hidden></button>

<script src="/js/user/withdraw.js"></script>
<script src="/js/partials/fetcher.js"></script>
<script src="/js/partials/sweetalert.js"></script>
<%-include("../../partials/footer");%>