<html lang="en">

<head>

    <meta charset="utf-8">
    <title>
        <%= title %> | <%= websiteDetails.website_title %> 
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="<%= websiteDetails.website_favicon %>">
    
    <link rel="stylesheet" href="/css/admin/bootstrap.css">
    <link href="/css/admin/style.css" rel="stylesheet">
    <link href="/css/admin/custom.css" rel="stylesheet">
    <link href="/css/admin/circular.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


    
</head>

<body>



    <div class="dashboard-main-wrapper">



        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#user" aria-controls="user" aria-expanded="false"
                    aria-label="Toggle navigation">
                    
                        <a class="nav-link nav-user-img" href="#" id="" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"><img src="<%=user.avatar ? user.avatar:'/img/avatar.jpg' %>"
                                alt="" class="user-avatar-md rounded-circle"></a>
                        <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                            <div class="nav-user-info">
                                <h5 class="mb-0 text-white nav-user-name">
                                    d<%= user.username %>
                                </h5>
                                <span class="status"></span><span class="ml-2">
                                    <%= user.role %>
                                </span>
                            </div>
                            
                            <a class="dropdown-item" href="/logout?route=admin"><i class="fa fa-power-off mr-2"></i>Logout</a>
                        </div>
                    
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        
                        
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                    src="<%=user.avatar ? user.avatar:'/img/avatar.jpg' %>" alt="" class="user-avatar-md rounded-circle"></a> 
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                                aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name"><%= user.username %></h5>
                                    <span class="status"></span><span class="ml-2"><%= user.role %></span>
                                </div>
                                
                                <a class="dropdown-item" href="/logout?route=admin"><i class="fa fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>






        <%- include('./sidebar'); %>






        <div class="dashboard-wrapper">
            
                
            


